# Python CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements_dev.txt
      # Step 3: run linter and tests
      - store_test_results:
          path: tests
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python -m flake8 --exclude=venv* --statistics --select E123
            python -m mypy .  --exclude=venv* --namespace-packages --explicit-package-bases
            python -m pytest -v --cov=calculator
